@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes fadeIn {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0.75;
    }

}

@layer base {
    .wrapper {
        width: 100%;
    }

    .page-content-main {
        width: 100%;
    }

    .page-content-body{
        @apply w-full max-w-7xl mx-auto px-4 py-5 sm:px-6 sm:py-6 lg:px-8 lg:py-8;
    }

    h1 {
        /* font-family: "Geist Mono", monospace;
        font-size: 48px; */
        @apply mb-5 text-xl font-semibold sm:mb-6 sm:text-2xl;
    }

    select, input{
        @apply focus:outline-none focus:ring-2 focus:ring-blue-600 focus:border-transparent;
    }

}