@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes fadeIn {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0.75;
    }

}

@layer base {
    .wrapper {
        display: flex;
        width: 100%;
        flex-direction: column;
    }

    @media (min-width: 768px) {
        .wrapper {
            flex-direction: row;
        }
    }

    .page-content-main {
        width: 100%;
        margin-left: 0;
    }

    @media (min-width: 768px) {
        .page-content-main {
            margin-left: 16rem;
        }
    }

    .page-content-body{
        @apply w-full p-4 md:p-8 max-w-7xl mx-auto;
    }

    h1 {
        /* font-family: "Geist Mono", monospace;
        font-size: 48px; */
        @apply mb-6 text-2xl font-semibold;
    }

    select, input{
        @apply focus:outline-none focus:ring-2 focus:ring-blue-600 focus:border-transparent;
    }

}